.modal
  .modal__header
    h2 Tulis Review Barang

  .modal__body
    ul.reviews
      li.review
        .product__name MURAH MERIAH !!! Ps3 Fat Sony Hdd 60giga+Games
        .review__status belum ada review
        .review__badge jempol keatas

  .modal__action
